@font-face {
  font-display: swap;
  font-family: Geist;
  font-style: normal;
  font-weight: 400;
  src: url('~@fonts/geist-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: Geist;
  font-style: normal;
  font-weight: 500;
  src: url('~@fonts/geist-medium.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: Geist;
  font-style: normal;
  font-weight: 700;
  src: url('~@fonts/geist-bold.woff2') format('woff2');
}
